* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


@font-face {
    font-family: 'Asimov Pro Bold';
    src: url(/fonts/AsimovProBold.ttf);
}

@font-face {
    font-family: 'Vazir';
    src: url(/fonts/Vazir.ttf);
}

body {
    background-color: #CED6F0;
}

img {
    width: 60%;
    height: 60%;
    margin-bottom: 10%;
}

h1 {
    font-family: 'Asimov Pro Bold';
    font-size: 33px;
    text-align: justify;
    margin-top: 1%;
    margin-bottom: 1%;
}

h3 {
    font-family: 'Vazir';
    font-size: 13px;
    color: #606060;
    margin-bottom: 5%;
}

span {
    color: black;
}

p {
    font-family: 'Vazir';
    font-size: 15px;
    text-align: left;
    color: #606060;
}

label {
    display: flex;
    margin-top: 20px;
    font-size: 20px;
}

hr {
    margin-top: 5%;
    margin-bottom: 5%;
    border-color: #FFFFFF;
}

form {
    font-family: 'Vazir';
    display: flex;
    flex-direction: column;
}

input {
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: #A8B0C2;
    height: 55px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    background-color: #367BF5;
    color: #FFFFFF;
    height: 50px;
    border: 0;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #FFFFFF;
    color: #000000;
    border-width: 3px;
    border-style: solid;
    border-color: #367BF5;
    border-radius: 15px;
}

.card {
    width: 30%;
    background-color: #FFFFFF;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 3%;
    padding-top: 1.5%;
    border-radius: 15px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.left {
    display: block;
    margin-left: auto;
    margin-right: 0;
}